.cartCard {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-width: 1px;
    padding: 20px;
    margin: 5px;
    width: 100%
}

.cartPicture {
    height: 50px;
}

.cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.cartPictureDiv {
    display: flex;
    align-items: center;
    width: 60%;
}

.cartPictureDiv p {
    margin: 0 30px;
   
}

#cartPrice {
    margin: 0 20px;
}

.cartDeleteButton {
    float: right, center;
    margin: 0 10px;
    height: 20px;
}

.checkoutPage {
    text-align: center;
}

.Checkout, .continueShopping {
    background-color: #94e1eb;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 1.8rem;
    font-size: 1rem;
    padding: 0 20px;
  }

  .Checkout:hover, .continueShopping:hover {
    background-color: #94b8bd;
  }