.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .productPictureDiv {
    display: flex;
    justify-content: center;
  }
  
  .productPicture {
    width: 80%;
    height: auto;
  }
  
  .productCard {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: 3px 3px 2px gray;
    padding: 20px;
    width: 220px;
    margin: 10px;
    background-color: white;
  }
  
  .productDetailsPage {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .productDetailsPage img {
    width: 300px;
    height: auto;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 3px 3px 2px gray;
    margin: 30px;
  }
  
  