.banner {
    display: flex;
    flex-direction: row;
    width: 70vw;
    background-color: rgb(176, 223, 255);
    margin: 40px 0;
    justify-content: space-between;
}

.welcome {
    text-align: center;
    font-family: cursive;
    width: 80%;
    padding: 10px 40px;
}

.welcome h1 {
    margin: 0;
    font-size: 2rem;
}

#welcomeMsg {
    text-align: justify;
}

#shopNow {
    font-size: 1.6rem;
}

.featuredProducts {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: #94e1eb;
    align-items: center;
    margin-top: 50px;
}

.featuredProducts h2 {
    font-family: cursive;
    font-size: 1.6rem;
}

.featuredProductList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.featuredProductPictureDiv {
    display: flex;
    justify-content: center;
  }
  
  .featuredProductPicture {
    width: 80%;
    height: auto;
  }
  
  .featuredProductCard {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: 2px 2px 2px gray;
    padding: 20px;
    width: 15%;
    margin: 10px 25px;
    background-color: white;
  }