nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    background-color: #94e1eb;
    box-shadow: 0 2px 2px gray;
}

.navbar-logo {
    margin: 0 1rem;
    padding: 0;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 900;
}

nav li {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    margin: 0 1rem;
    color: black;
    padding: 0;
    font-weight: 700;
    font-size: 1.3rem;
}

nav a:hover {
    color: #FEF9C7;
}

.navbar-links {
    display: inline-flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;


}
