html,
body {
  margin: 0;
  padding: 0;
}

.app-container {
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

.bg-image {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/10/82/dFvhVt.jpg);

  display: block;
  min-height: 1000vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;

  filter: blur(5px);
  opacity: 0.5;
}


.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

main {
  margin-top: 80px;
}

.productDetailsPage img {
  width: 300px;
  height: auto;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 3px 3px 2px gray;
  margin: 30px;
}

.cartCard {
  display:flex;
  flex-direction: row;
  justify-content: center;
  border: solid;
  border-radius: 1px;
  padding: 10px;
  width: 55%;
  margin: 1px;
}

.cartPicture {
  width: 50%;
  height: auto
}

.cartPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150%;
}
.cartPictureDiv {
  display: flex;
  justify-content: left;
  width: 50%;
  height: auto;
}

.cartDeleteButton{
  float: right, center;
  margin: 10px;
 height: 20px;
}


#mainDiv {
  margin-top:25%;
  border:1px black solid;

}
/* #minus , #plus{
  height:25px;
  width:25px;
  border:1px black solid;
  border-radius:50%;
}
#minus:hover{
  background-color:red;    
  border:none;
}
#plus:hover{
  background-color:green;
  border:none;
}
#numberPlace {
  margin-left:5px;
  margin-right:5px;
} */
.CartTitle {
display: flex;
justify-content: center;
}
.Checkout {
  float: right;
  margin: 50px;
}
