html,
body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

.bg-image {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/10/82/dFvhVt.jpg);

  display: block;
  min-height: 1000vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;

  filter: blur(5px);
  opacity: 0.5;
}


.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

main {
  margin-top: 80px;
}

.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.productPictureDiv {
  display: flex;
  justify-content: center;
}

.productPicture {
  width: 80%;
  height: auto;
}

.productCard {
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 3px 3px 2px gray;
  padding: 20px;
  width: 220px;
  margin: 10px;
  background-color: white;
}

.productDetailsPage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productDetailsPage img {
  width: 300px;
  height: auto;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 3px 3px 2px gray;
  margin: 30px;
}

