/* .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

.productPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.productPictureDiv {
  display: flex;
  justify-content: center;
}

.productPicture {
  width: 80%;
  height: auto;
}

.productCard {
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
  width: 25%;
  margin: 20px;
}

.productDetailsPage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productDetailsPage img {
  width: 300px;
  height: auto;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 3px 3px 2px gray;
  margin: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 5px;
}

.loginButtons {
  border: 5px solid black;
} */
